*
{
  margin: 0 0;
  padding: 0 0;
}
body
{
  margin: 0 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/*----------------------------*/
/*-----| ENTETE DE PAGE |-----*/
/*----------------------------*/
header
{
  height: 15%;
  background: linear-gradient(green, #281d06);
}
#head
{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.name
{
  color: white;
  font-family: 'New Tegomin', serif;
  font-weight: bold;
}
.hdrp
{
  margin: 0 0;
  font-size: 3.8vw;
}
#career
{
  font-family: 'Black Ops One', sans-serif;
}
#career p
{
  background-color: white;
  padding: 1px 15px;
  border-radius: 30px;
  color: green;
  text-shadow: 2px 2px 2px #7dcf7d;
}
/*---------------------------*/
/*-----| CORPS DE PAGE |-----*/
/*---------------------------*/
/*GENERALITÉ*/
#mainPage
{
  height: 70%;
}
#content
{
  height: 100%;
  display: flex;
  flex-direction: column;
}
/*1ère PARTIE : LIENS CV*/
#linkCv
{
  background: url('../images/thumb-1920-856404.png') center / cover no-repeat;
  height: 100%; 
  display: flex;
  flex-direction: row;
}
.linkClick
{
  flex: 1 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.linkClick p 
{
  margin: 25px;
  font-size: 55px;
}
.linkClick a
{
  font-weight: bold;
  color: #7dcf7d;
  text-shadow: 2px 2px 1px green;
  box-shadow: 3px 3px 7px green;
  border-radius: 0 0 45px 0;
  text-decoration: none;
  transition: 0.7s ease-in-out;
}
.linkClick a:hover
{
  color: #5d440c;
  text-shadow: 2px 2px 2px #dca42d;
  background-color: #fde1a4;
  border: 3px solid #dca42d;
  border-radius: 105px;
  box-shadow: 3px 3px 1px yellow, 6px 6px 3px #ffff6f, 6px 6px 12px #ffff9a, 6px 6px 24px #ffffba;
}
/*2ème PARTIE : RETOUR DE PAGE*/
#linkPage
{
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to top, green, #281d06);
}
#replay, #information /*Liens de retours pages precedentes*/
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#intro, #main
{
  position: relative;
  border-radius: 45px;
  background: green;
  transition: 0.7s ease-in-out;
}
.fa-solid.fa-rotate 
{
  padding: 0.9vw;
  text-decoration: none;
  color: black;
  font-size: 2vw;
  transition: 0.7s ease-in-out;
}
.fa-solid.fa-house
{
  height: 2vw;
  width: 2vw;
  padding: 0.9vw;
  font-size: 1.8vw;
  text-decoration: none;
  color: black;
  transition: 0.7s ease-in-out;
}
#intro:hover, #main:hover
{
  background: red;
}
.fa-solid.fa-rotate:hover, .fa-solid.fa-house:hover
{
  color: white;
  transform: rotate(360deg);
}
#replay p, #information p
{
  margin: 0;
  font-size: 12px;
}
/*------------------------*/
/*-----|PIED DE PAGE|-----*/
/*------------------------*/
footer
{
  height: 15%;
  background: linear-gradient(to top, white, green);
}
#foot
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
/*PARTIE CONTACT*/
#findMe
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7vw 0;
}
#find
{
  margin:0 0;
  font-size: 1.2vw;
}
#linkFb, #linkLnkd, #linkGit
{
  margin:0 15px 0 15px;
}
#fb, #lkn, #gthb
{
  width: 1.5vw;
  height: 1.5vw;
}
/*PARTIE PRODUCTION*/
#conception
{
  display: flex;
  justify-content: center;
}
#concept
{
  margin: 0 0;
  font-size: 1.2vw;
}
#prod
{
  font-family: 'Black Ops One', sans-serif;
  font-size: 1.5vw;
  font-weight: normal;
  color: white;
}
/*------------------------*/
/*-----| RESPONSIVE |-----*/
/*------------------------*/
@media screen and (max-width: 1300px)
{
  /*-----| ENTETE DE PAGE |-----*/
  header
  {
    height: 10%;
  }
  /*-----| CORPS DE PAGE |-----*/
  #mainPage
  {
    height: 75%;
  }
  .fa-solid.fa-rotate 
  {
    padding: 0.9vw;
    font-size: 2vw;
  }
  .fa-solid.fa-house
  {
    height: 2.3vw;
    width: 2.3vw;
    padding: 0.9vw;
    font-size: 2vw;
  }
}
@media screen and (max-width: 900px)
{
  /*Entete de page*/
  #career p 
  {
    padding: 0 13px;
  }
  .hdrp
  {
    font-size: 3.8vw;
  }
  /*Corps de page*/
  /*1ère PARTIE : LIENS CV*/
  .linkClick p 
  {
    margin: 19px;
    font-size: 35px;
  }
  /*2ème PARTIE : RETOUR DE PAGE*/
  .fa-solid.fa-rotate
  {
    padding: 0.8vw;
    font-size: 1.8vw;
  }
  .fa-solid.fa-house
  {
    height: 1.8vw;
    width: 1.8vw;
    padding: 0.8vw;
    font-size: 1.9vw;
  }
  #replay p, #information p
  {
    font-size: 10px;
  }
  /*-----|PIED DE PAGE|-----*/
  #findMe
  {
    margin: 0.7vw 0 0 0;
  }
  #find
  {
    font-size: 12px;
  }
  #fb, #lkn, #gthb
  {
    width: 15px;
    height: 15px;
  }
  #concept
  {
    font-size: 12px;
  }
  #prod
  {
    margin-left: 0;
    font-size: 15px;
  }
  #concept span
  {
    margin-left: -6px;
    font-size: 12px;
  }
}
@media screen and (max-width: 600px)
{
  /*-----| CORPS DE PAGE |-----*/
  #linkCv
  {
    flex-direction: column;
  }
  .linkClick p 
  {
    margin: 15px;
    font-size: 23px;
  }
  .fa-solid.fa-rotate
  {
    padding: 0.9vw;
    font-size: 3.3vw;
  }
  .fa-solid.fa-house
  {
    height: 3.3vw;
    width: 3.3vw;
    padding: 0.9vw;
    font-size: 2.9vw;
  }
  #replay p, #information p
  {
    font-size: 12px;
  }
  /*-----|PIED DE PAGE|-----*/
  #find
  {
    font-size: 12px;
  }
  #findMe
  {
    margin: 1.7vw 0 0 0;
  }
  #fb, #lkn, #gthb
  {
    width: 15px;
    height: 15px;
  }
  #concept
  {
    font-size: 12px;
  }
  #prod
  {
    margin-left: 0;
    font-size: 17px;
  }
  #concept span
  {
    margin-left: -6px;
    font-size: 12px;
  }
}
@media screen and (max-width: 415px)
{
  .linkClick p
  {
    font-size: 23px;
  }
  .fa-solid.fa-rotate
  {
    padding: 1vw;
    font-size: 3.4vw;
  }
  .fa-solid.fa-house
  {
    height: 3.5vw;
    width: 3.5vw;
    padding: 1vw;
    font-size: 3.4vw;
  }
  /*-----|PIED DE PAGE|-----*/
  #find
  {
    font-size: 12px;
  }
  #fb, #lkn, #gthb
  {
    width: 15px;
    height: 15px;
  }
  #concept
  {
    font-size: 12px;
  }
  #prod
  {
    margin-left: 0;
    font-size: 12px;
  }
  #concept span
  {
    margin-left: -4px;
    font-size: 8px;
  }
}
@media screen and (max-width: 315px)
{
  .fa-solid.fa-rotate
  {
    padding: 2vw;
    font-size: 4.3vw;
  }
  .fa-solid.fa-house
  {
    height: 4.3vw;
    width: 4.3vw;
    padding: 2vw;
    font-size: 3.9vw;
  }
}