/*----------------------------*/
/*-----| PAGE PORTFOLIO |-----*/
/*----------------------------*/
body
{
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/*----------------------------*/
/*-----| ENTETE DE PAGE |-----*/
/*----------------------------*/
header
{
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(green, #fff);
}
#arbod
{
  color: white;
  font-size: 3.9vw;
  font-family: 'New Tegomin', serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
#jerome
{
  color: white;
  font-size: 3.9vw;
  font-family: 'New Tegomin', serif;
  display: flex;
  justify-content: center;
  align-content: space-around;
  align-items: center;
}
.hdrp
{
  margin: 0 0;
}
#career
{
  background-color: white;
  border: 5px double black;
  padding: 0 5px;
  border-radius: 30px;
  font-family: 'Black Ops One', sans-serif;
}
#career p
{
  font-size: 3.7vw;
  color: #7dcf7d;
  text-shadow: 2px 2px 2px green;
}
/*---------------------------*/
/*-----| CORPS DE PAGE |-----*/
/*---------------------------*/
/*GENERALITÉ*/
#mainPage
{
  height: 70%;
  display: flex;
  flex-direction: column;
}
#content
{
  height: 100%;
  display: flex;
  flex-direction: column;
}
#linkCv/*block haut*/
{
  background-image: url('../images/screenCv.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80%; 
  display: flex;
  flex-direction: row;
}
.linkClick /*Liens CV*/
{
  flex: 1 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.linkClick p 
{
  margin: 25px;
  font-size: 44px;
}
.linkClick a
{
  background-color: white;
  font-weight: bold;
  color: aqua;
  text-shadow: 2px 2px 2px blue;
  border: 5px double aqua;
  text-decoration: none;
  transition: 0.7s ease-in-out;
}
.linkClick a:hover
{
  color: white;
  text-shadow: 2px 2px 2px #00dede;
  background-color: aquamarine;
  border: 3px solid white;
  border-radius: 105px;
  box-shadow: 3px 3px 1px white, 6px 6px 3px aqua, 6px 6px 12px aqua, 6px 6px 24px #00dfdf;
}
#linkPage/*block bas*/
{
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#replay, #information /*Liens de retours pages precedentes*/
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#intro, #main
{
  position: relative;
  border: 1px solid black;
  border-radius: 45px;
  background: green;
  transition: 0.7s ease-in-out;
}
.fa-solid.fa-rotate, .fa-solid.fa-house
{
  padding: 11px;
  text-decoration: none;
  color: black;
  font-size: 39px;
  transition: 0.7s ease-in-out;
}
#intro:hover, #main:hover
{
  background: red;
}
.fa-solid.fa-rotate:hover, .fa-solid.fa-house:hover
{
  color: white;
  transform: rotate(360deg);
}
#replay p, #information p
{
  margin: 0;
  font-size: 12px;
}
/*------------------------*/
/*-----|PIED DE PAGE|-----*/
/*------------------------*/
footer
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 15%;
  background: linear-gradient(white, green);
}
/*Find me*/
#findMe
{
  display: flex;
  justify-content: center;
  padding-top: 2%;
}
#find
{
  font-size: 28px;
}
#find, #linkFb, #linkLnkd, #linkGit
{
  display: flex;
  align-items: center;
  margin:0 10px;
}
#fb, #lkn, #gthb
{
  width: 25px;
  height: 25px;
}
/*production*/
#concept
{
  margin: 0 auto;
  font-size: 23px;
}
#concept span 
{
  margin-left: -9px;
  font-size: 15px;
}
#prod
{
  margin-left: 5px;
  font-family: 'Black Ops One', sans-serif;
  font-size: 35px;
  font-weight: 100;
  color: white;
}
/*------------------------*/
/*-----| RESPONSIVE |-----*/
/*------------------------*/
@media screen and (max-width: 1300px)
{
  /*-----| ENTETE DE PAGE |-----*/
  header
  {
    height: 10%;
  }
  /*-----| CORPS DE PAGE |-----*/
  #mainPage
  {
    height: 75%;
  }
  .fa-solid.fa-rotate, .fa-solid.fa-house
  {
    padding: 9px;
    font-size: 29px;
  }
}
@media screen and (max-width: 900px)
{
  /*-----|PIED DE PAGE|-----*/
  #find
  {
    font-size: 23px;
  }
  #fb, #lkn, #gthb
  {
    width: 25px;
    height: 25px;
  }
  #concept
  {
    font-size: 15px;
  }
  #prod
  {
    margin-left: 0;
    font-size: 25px;
  }
  #concept span
  {
    margin-left: -6px;
    font-size: 13px;
  }
}
@media screen and (max-width: 600px)
{
  /*-----| CORPS DE PAGE |-----*/
  #linkCv
  {
    flex-direction: column;
  }
  .linkClick p 
  {
    margin: 20px;
    font-size: 35px;
  }
  .fa-solid.fa-rotate, .fa-solid.fa-house
  {
    padding: 8px;
    font-size: 17px;
  }
  #replay p, #information p
  {
    font-size: 10px;
  }
  /*-----|PIED DE PAGE|-----*/
  #find
  {
    font-size: 17px;
  }
  #fb, #lkn, #gthb
  {
    width: 20px;
    height: 20px;
  }
  #concept
  {
    font-size: 15px;
  }
  #prod
  {
    margin-left: 0;
    font-size: 25px;
  }
  #concept span
  {
    margin-left: -6px;
    font-size: 13px;
  }
}
@media screen and (max-width: 415px)
{
  /*-----|PIED DE PAGE|-----*/
  #find
  {
    font-size: 11px;
  }
  #fb, #lkn, #gthb
  {
    width: 15px;
    height: 15px;
  }
  #concept
  {
    font-size: 8px;
  }
  #prod
  {
    margin-left: 0;
    font-size: 10px;
  }
  #concept span
  {
    margin-left: -4px;
    font-size: 8px;
  }
}