body
{
  margin: 0 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/*----------------------------*/
/*-----| ENTETE DE PAGE |-----*/
/*----------------------------*/
header
{
  /* background-color: red; */
  height: 15%;
  background: linear-gradient(green, #fff);
}
#head
{
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.name
{
  color: white;
  font-family: 'New Tegomin', serif;
  font-weight: bold;
}
.hdrp
{
  margin: 0 0;
  font-size: 3.8vw;
}
#career
{
  font-family: 'Black Ops One', sans-serif;
}
#career p
{
  background-color: white;
  padding: 1px 15px;
  border-radius: 30px;
  color: #7dcf7d;
  text-shadow: 2px 2px 2px green;
}
/*---------------------------*/
/*-----| CORPS DE PAGE |-----*/
/*---------------------------*/
/*GENERALITÉ*/
#middle
{
  height: 70%;
}
/*1ère PARTIE : TEXTE DESCRIPTION*/
#history
{
  display: flex;
  flex-direction: column;
  height: 80%;
  background: linear-gradient(to bottom, white 1%, aquamarine 50%, white);
}
#part1
{
  display: flex;
  flex-direction: column;
  flex: 0 22%;
  border: 0.5vw ridge aquamarine;
}
h1
{
  margin: 0 0 2vw 0;
  text-align: center;
  font-size: 2.1vw;
}
#aboutMe
{
  margin: 0 1.9vw 1.2vw 1.9vw;
  font-size: 1.2vw;
  text-align: justify;
}
/*2ème PATIE : ICON - LIENS*/
#part2
{
  flex: 0 75%;
  background-image: url("../images/circuit.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#icon
{
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.linkTxt
{
  display: flex;
  justify-content: center;
  width: 30%;
}
.linkTxt a
{
  position: relative;
  font-family: 'Black Ops One', sans-serif;
  text-decoration: none;
  font-size: 2.3vw;
  color: aquamarine;
  text-shadow: 2px 2px 1px white;
  transition: 0.5s;
}
.linkTxt a:hover 
{
  border: 5px solid white;
  border-radius: 35px;
  box-shadow: 3px 3px 1px white, 6px 6px 6px aqua, 6px 6px 12px aqua, 6px 6px 24px #00dfdf;
  color: white;
  padding: 3px 10px;
  text-shadow: 2px 2px 2px #00e1e1;
  background-color: aquamarine;
}
/*3ème PARTIE : RETOUR DE PAGE*/
#replay
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20%;
}
#intro
{
  border-radius: 3vw;
  background: green;
  transition: 0.7s ease-in-out;
}
#intro:hover
{
  background: #d52801;
}
.fa-solid.fa-rotate
{
  text-decoration: none;
  color: black;
  font-size: 1.9vw;
  padding: 0.9vw;
  transition: 0.5s ease-in-out;
}
.fa-solid.fa-rotate:hover
{
  color: white;
  transform: rotate(360deg);
}
#rpl
{
  margin: 0.1vw 0;
  font-size: 0.8vw;
}
/*------------------------*/
/*-----|PIED DE PAGE|-----*/
/*------------------------*/
/* Généralité */
footer
{
  height: 15%;
  background: linear-gradient(white, green);
}
#foot
{
  display: flex;
  flex-direction: column;
}
/*PARTIE CONTACT*/
#findMe
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7vw 0;
}
#find
{
  margin:0 0;
  font-size: 1.2vw;
}
#linkFb, #linkLnkd, #linkGit
{
  margin:0 15px 0 15px;
}
#fb, #lkn, #gthb
{
  width: 1.5vw;
  height: 1.5vw;
}
/*PARTIE PRODUCTION*/
#conception
{
  display: flex;
  justify-content: center;
}
#concept
{
  margin: 0 0;
  font-size: 1.2vw;
}
#prod
{
  font-family: 'Black Ops One', sans-serif;
  font-size: 1.5vw;
  font-weight: normal;
  color: white;
}
/*------------------------*/
/*-----| RESPONSIVE |-----*/
/*------------------------*/