/*----------------------------*/
/*-----| PAGE PORTFOLIO |-----*/
/*----------------------------*/
body{
  margin: 0 auto;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#page
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*----------------------------*/
/*-----| ENTETE DE PAGE |-----*/
/*----------------------------*/
header
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 15%;
  background: linear-gradient(green, #fff);
}
#arbod
{
  color: white;
  font-size: 3.9vw;
  font-family: 'New Tegomin', serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
#jerome
{
  color: white;
  font-size: 3.9vw;
  font-family: 'New Tegomin', serif;
  display: flex;
  justify-content: center;
  align-content: space-around;
  align-items: center;
}
.hdrp
{
  margin: 0 0;
}
#career
{
  background-color: white;
  
  border: 5px double black;
  padding: 0 5px;
  border-radius: 30px;
  font-family: 'Black Ops One', sans-serif;
}
#career p
{
  font-size: 3.7vw;
  color: #7dcf7d;
  text-shadow: 2px 2px 2px green;
}
/*---------------------------*/
/*-----| CORPS DE PAGE |-----*/
/*---------------------------*/
/*GENERALITÉ*/
#middle{
  display: flex;
  flex-direction: row;
  height: 70%;
}
/*1ERE PARTIE : TEXTE DESCRIPTION*/
#part1
{
  display: flex;
  flex-direction: row;
  background: linear-gradient(to bottom, white 1%, aquamarine 50%, white);
}
h1 p 
{
  display: flex;
  flex-direction: column;
}
#history
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1 40%;
  margin: 0px 0.5vw;
}
#history h1
{
  margin: 0;
  font-size: 40px;
  text-align: center;
}
#aboutMe
{
  margin: 0 0.3vw;
  font-size: 24px;
  text-align: justify;
}
#replay
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#rpl
{
  margin: 0 0.3vw;
  font-size: 15px;
  text-align: justify;
}
#intro
{
  position: relative;
  border: 1px solid black;
  border-radius: 45px;
  background: green;
  transition: 0.7s ease-in-out;
}
.fa-solid.fa-rotate
{
  padding: 11px 11px;
  text-decoration: none;
  color: black;
  font-size: 39px;
  transition: 0.7s ease-in-out;
}
#intro:hover
{
  background: #d52801;
}
.fa-solid.fa-rotate:hover
{
  color: white;
  transform: rotate(-360deg);
}
/*2ÈME PATIE : ICON - LIENS*/
#part2
{
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("../images/circuit.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#icon
{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.linkTxt
{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.linkTxt a
{
  border: 5px ridge aquamarine;
  padding: 5px 15px;
  font-family: 'Black Ops One', sans-serif;
  font-size: 45px;
  text-decoration: none;
  color: aquamarine;
  text-shadow: 1px 1px 1px white;
  transition: 0.7s ease-in-out;
}
.linkTxt a:hover 
{
  color: aqua;
  text-shadow: 2px 2px 2px white;
  background-color: aquamarine;
  border: 5px solid white;
  border-radius: 35px;
  box-shadow: 3px 3px 1px white, 6px 6px 6px aqua, 6px 6px 12px aqua, 6px 6px 24px #00dfdf;
}
/*------------------------*/
/*-----|PIED DE PAGE|-----*/
/*------------------------*/
footer
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 15%;
  background: linear-gradient(white, green);
}
#foot
{
  display: flex;
  flex-direction: column;
}
/*Find me*/
#findMe
{
  display: flex;
  margin: 0 auto;
}
#find
{
  font-size: 28px;
}
#find, #linkFb, #linkLnkd, #linkGit
{
  display: flex;
  align-items: center;
  margin:0 10px;
}
#fb, #lkn, #gthb
{
  width: 25px;
  height: 25px;
}
/*production*/
#concept
{
  margin: 0 auto;
  font-size: 23px;
}
#concept span 
{
  margin-left: -9px;
  font-size: 15px;
}
#prod
{
  margin-left: 5px;
  font-family: 'Black Ops One', sans-serif;
  font-size: 35px;
  font-weight: 100;
  color: white;
}
/*------------------------*/
/*-----| RESPONSIVE |-----*/
/*------------------------*/
@media screen and (max-width: 1350px)
{
  /*-----Entete page-----*/
  #arbod, #jerome
  {
    font-size: 4.5vw;
  }
  /*-----Corps de page*/
  /*1er Partie*/
  #history h1 
  {
    font-size: 30px;
  }
  #aboutMe
  {
    font-size: 21px;
  }
  #rpl
  {
    font-size: 13px;
  }
  /*2eme Partie*/
  #icon
  {
    flex-direction: column;
    align-items: center;
  }
  /*Pied de page*/
  #find
  {
    font-size: 21px;
  }
  #fb, #lkn, #gthb
  {
    width: 19px;
    height: 19px;
  }
}
@media screen and (max-width: 1000px)
{
  /*Entete de page*/
  header
  {
    height: 10%;
  }
  /*-----Corps de page*/
  /*1er Partie*/
  #history h1 
  {
    font-size: 17px;
  }
  #aboutMe
  {
    font-size: 15px;
  }
  .fa-solid.fa-rotate
  {
    padding: 9px 9px;
    font-size: 21px;
  }
  /*2eme partie*/
  .linkTxt a
  {
    font-size: 35px;
  }
  /*Pied de page*/
  footer 
  {
    height: 9%;
  }
  #find {
    font-size: 15px;
}
  #concept
  {
    font-size: 15px;
  }
  #concept span 
{
  margin-left: -5px;
  font-size: 13px;
}
  #prod
  {
    font-size: 20px;
  }
}
@media screen and (max-width: 575px)
{
  /*Entete de page*/
  header
  {
    height: 13%;
  }
  /*-----Corps de page*/
  /*1er Partie*/
  #middle
  {
    height: 100%;
  }
  #part1
  {
    flex-direction: column;
  }
  #history
  {
    flex: 1 55%;
  }
  #history h1 {
    font-size: 14px;
  }
  #aboutMe
  {
    font-size: 12px;
  }
  .fa-solid.fa-rotate
  {
    padding: 3px 3px;
    font-size: 11px;
  }
  #rpl
  {
    font-size: 10px;
  }
  /*2eme partie*/
  .linkTxt a
  {
    border: 2px ridge aquamarine;
    padding: 1px 10px;
    font-size: 17px;
  }
  /*Pied de page*/
  footer 
  {
    height: 16%;
  }
  #find 
  {
    font-size: 12px;
  }
  #fb, #lkn, #gthb {
    width: 15px;
    height: 15px;
}
  #concept
  {
    font-size: 11px;
  }
  #concept span
  {
    font-size: 13px;
  }
  #prod
  {
    font-size: 14px;
  }
}
@media screen and (max-width: 340px)
{
  /*-----Corps de page*/
  /*1er Partie*/
  
  #history h1 
  {
    font-size: 13px;
  }
  #aboutMe
  {
    font-size: 10px;
  }
  .fa-solid.fa-rotate
  {
    padding: 3px 3px;
    font-size: 11px;
  }
  #rpl
  {
    font-size: 9px;
  }
  .linkTxt a 
  {
    font-size: 9px;
  }
  #rpl
  {
    font-size: 9px;
  }
  /*Pied de page*/
  footer 
  {
    height: 13%;
  }
  #find {
    font-size: 11px;
  }
  #fb, #lkn, #gthb
  {
    width: 15px;
    height: 15px;
  }
  #concept
  {
    font-size: 10px;
  }
  #concept span
  {
    font-size: 9px;
  }
  #prod
  {
    font-size: 13px;
  }
}
