body
{
  margin: auto auto;
}
#page
{
  display: flex;
  flex-direction: column;
}
/*----------------------------*/
/*-----| ENTETE DE PAGE |-----*/
/*----------------------------*/
header
{
  background: linear-gradient(green, #fff);
}
#head
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0 40px 0;
}
.name
{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'New Tegomin', serif;
  font-weight: bold;
}
.hdrp
{
  margin: 0 0;
  font-size: 60px;
}
#career
{
  background-color: white;
  padding: 0 9px;
  border-radius: 30px;
  font-family: 'Black Ops One', sans-serif;
}
#career p
{
  color: #7dcf7d;
  text-shadow: 2px 2px 2px green;
}
/*---------------------------*/
/*-----| CORPS DE PAGE |-----*/
/*---------------------------*/
/*GENERALITÉ*/
#middle
{
  display: flex;
  flex-direction: column;
  margin: 3px 0 5px 0;
}
/*1ERE PARTIE : TEXTE DESCRIPTION*/
#history
{
  display: flex;
  background: linear-gradient(to bottom, white 1%, aquamarine 50%, white);
}
#part1
{
  display: flex;
  flex-direction: column;
  flex: 1 40%;
  border: 7px ridge aquamarine;
}
#part1 h1
{
  margin: 5px 0;
  font-size: 35px;
  text-align: center;
}
h1 p 
{
  display: flex;
  flex-direction: column;
}
#aboutMe
{
  margin: 55px 28px 100px 28px;
  font-size: 1.6vw;
  line-height: 1.62vw;
  text-align: justify;
}
#replay
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}
#rpl
{
  margin: 2px auto;
  font-size: 15px;
  text-align: justify;
}
#intro
{
  position: relative;
  border-radius: 45px;
  background: green;
  transition: 0.7s ease-in-out;
}
.fa-solid.fa-rotate
{
  padding: 11px;
  text-decoration: none;
  color: black;
  font-size: 45px;
  transition: 0.7s ease-in-out;
}
#intro:hover
{
  background: #d52801;
}
.fa-solid.fa-rotate:hover
{
  color: white;
  transform: rotate(360deg);
}
/*2ÈME PATIE : ICON - LIENS*/
#part2
{
  display: flex;
  width: 100%;
  background-image: url("../images/circuit.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#icon
{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.linkTxt
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.linkTxt a
{
  border: 7px ridge aquamarine;
  padding: 13px 18px;
  font-family: 'Black Ops One', sans-serif;
  font-size: 43px;
  text-decoration: none;
  color: aquamarine;
  text-shadow: 2px 2px 1px white;
  transition: 0.5s;
}
.linkTxt a:hover 
{
  color: white;
  text-shadow: 2px 2px 2px #00e1e1;
  background-color: aquamarine;
  border: 5px solid white;
  border-radius: 35px;
  box-shadow: 3px 3px 1px white, 6px 6px 6px aqua, 6px 6px 12px aqua, 6px 6px 24px #00dfdf;
}
/*------------------------*/
/*-----|PIED DE PAGE|-----*/
/*------------------------*/
/* Généralité */
footer
{
  display: flex;
  justify-content: center;
  background: linear-gradient(white, green);
}
#foot
{
  display: flex;
  flex-direction: column;
}
#findMe/* Où suis je ? */
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 38px 0;
}
#find
{
  margin:0 10px;
  font-size: 28px;
}
#linkFb, #linkLnkd, #linkGit
{
  display: flex;
  align-items: center;
  margin:0 15px;
}
#fb, #lkn, #gthb
{
  width: 41px;
  height: 41px;
}
#concept/* production */
{
  margin: 0 auto;
  font-size: 27px;
}
#concept span 
{
  margin-left: -9px;
  font-size: 13px;
}
#prod
{
  margin-left: 5px;
  font-family: 'Black Ops One', sans-serif;
  font-size: 37px;
  font-weight: normal;
  color: white;
}
/*------------------------*/
/*-----| RESPONSIVE |-----*/
/*------------------------*/
@media all and (max-width: 1370px)
{
  /*Entete de page*/
  #head
  {
    margin: 10px 0 30px 0;
  }
  .hdrp
  {
    font-size: 45px;
  }
  /*Corps de page*/
  .linkTxt a /*part2*/
  {
    font-size: 31px;
  }
  .fa-solid.fa-rotate
  {
    padding: 9px;
    font-size: 40px;
  }
  #replay
  {
    margin: 45px 0;
  }
  /*footer*/
  #foot
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #findMe
  {
    display: flex;
    justify-content: center;
    width: 50%;
  }
  #find
  {
    font-size: 21px;
  }
  #concept
  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 15px;
  }
  #prod
  {
    font-size: 21px;
  }
  #concept span 
  {
    margin-left: 1px;
    font-size: 11px;
  }
}
@media all and (max-width: 1050px)
{
  /*Entete de page*/
  .hdrp
  {
    font-size: 22px;
  }
  /*Corps de page*/
  #part1 h1
  {
    font-size: 27px;
  }
  .linkTxt a /*part2*/
  {
    border: 4px ridge aquamarine;
    font-size: 20px;
    text-shadow: 1px 1px 1px white;
  }
  .fa-solid.fa-rotate
  {
    font-size: 29px;
  }
  #rpl
  {
    font-size: 12px;
  }
  /*Pied de page*/
  #foot
  {
    flex-direction: row;
  }
  #find
  {
    font-size: 16px;
  }
  #fb, #lkn, #gthb
  {
    width: 35px;
    height: 35px;
  }
}
@media all and (max-width: 890px)
{
  /*Entete de page*/
  #head
  {
    margin: 5px 0 15px 0;
  }
  /*Corps de page*/
  #history
  {
    flex-direction: column;
  }
  #part1
  {
    border: 3px ridge aquamarine;
  }
  #part1 h1
  {
    font-size: 19px;
  }
  #aboutMe
  {
    margin: 5px 28px 20px 28px;
  }
  #part2
  {
    height: 26vw;
  }
  #icon
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .linkTxt a
  {
    padding: 3px 8px;
  }
  #replay
  {
    margin: 12px 0;
  }
  .fa-solid.fa-rotate
  {
    padding: 8px;
    font-size: 23px;
  }
  #rpl
  {
    font-size: 10px;
  }
  /*Pied de page*/
  footer 
  {
    height: 50px;
  }
  #find
  {
    font-size: 13px;
  }
  #fb, #lkn, #gthb
  {
    width: 25px;
    height: 25px;
  }
  #concept
  {
    font-size: 11px;
  }
  #prod
  {
    margin-left: 2px;
    font-size: 15px;
  }
  #concept span
  {
    margin-left: 1px;
    font-size: 9px;
  }
}
@media all and (max-width: 525px)
{
  /*Entete de page*/
  .hdrp
  {
    font-size: 13px;
  }
  #head
  {
    margin: 5px 0 10px 0;
  }
  #career p
  {
    text-shadow: 1px 1px 1px green;
  }
  /*Corps de page*/
  #part1 h1
  {
    font-size: 15px;
  }
  #aboutMe
  {
    margin: 5px 18px 10px 18px;
  }
  .linkTxt a
  {
    border: 2px ridge aquamarine;
    padding: 1px 4px;
    font-size: 13px;
  }
  #replay
  {
    margin: 9px 0 3px 0;
  }
  .fa-solid.fa-rotate
  {
    padding: 4px;
    font-size: 13px;
  }
  #rpl
  {
    font-size: 8px;
  }
  /*Pied de page*/
  #find
  {
    margin: 0 0;
    font-size: 9px;
  }
  #linkFb, #linkLnkd, #linkGit
  {
    margin: 0 10px;
  }
  #fb, #lkn, #gthb
  {
    width: 19px;
    height: 19px;
  }
  #concept
  {
    font-size: 8px;
  }
  #prod
  {
    font-size: 11px;
  }
  #concept span
  {
    margin-left: 0;
    font-size: 5px;
  }
}
@media all and (max-width: 385px)
{
  /*Entete de page*/
  #head
  {
    flex-direction: column;
  }
  /*Corps de page*/
  #part2
  {
    height: 55vw;
  }
  /*Pied de page*/
  #foot
  {
    display: flex;
    flex-direction: column;
  }
  #findMe
  {
    width: 100%;
    margin: 5px 0;
  }
  #fb, #lkn, #gthb 
  {
    width: 15px;
    height: 15px;
  }
  #concept
  {
    width: 100%;
  }
}