*
{
  margin: 0 0;
  padding: 0 0;
}
body{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/*----------------------------*/
/*-----| ENTETE DE PAGE |-----*/
/*----------------------------*/
header
{
  height: 15%;
  background: linear-gradient(green, #1ecaca);
}
#head
{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.name
{
  color: white;
  font-family: 'New Tegomin', serif;
  font-weight: bold;
}
.hdrp
{
  margin: 0 0;
  font-size: 3.8vw;
}
#career
{
  font-family: 'Black Ops One', sans-serif;
}
#career p
{
  background-color: white;
  padding: 1px 15px;
  border-radius: 30px;
  color: green;
  text-shadow: 2px 2px 2px #7dcf7d;
}
/*---------------------------*/
/*-----| CORPS DE PAGE |-----*/
/*---------------------------*/
/*Généralité*/
#middlePage
{
  height: 70%;
}
#content
{
  height: 100%;
}
#linkSkill
{
  height: 80%;
  background: url('../images/circuit.jpg') center / cover no-repeat;
}
#language, #hardware
{
  display: flex;
  flex-direction: column;
  height: 50%;
}
/*1ere PARTIE : Language*/
#langFig
{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.block
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 195px;
  background: #1ecaca;
  border-radius: 0 10px 0 10px;
  box-shadow: -3px 3px 3px white;
}
.border
{
  display: flex;
  justify-content: center;
  margin: 3px 3px 0 3px;
  width: 185px;
  border: 3px solid #101010;
  border-radius: 0 10px 0 0;
}
.block img
{
  width: 50px;
  height: 50px;
}
.linkFig
{
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
}
.linkFig img
{
  display: flex;
}
figcaption
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 3px 3px 3px;
  width: 191px;
  border-radius: 0 0 0 10px;
  background: #101010;
}
figcaption p 
{
  font-size: 20px;
  color: #1ecaca;
}
figcaption strong
{
  font-family: 'New Tegomin', serif;
  color: white;
}
/*2eme PARTIE : Logiciels*/
.mainTitle
{
  width: 100%;
  font-size: 3vw;
  font-weight: initial;
  text-align: center;
  color: green;
  text-shadow: 2px 2px 1px white;
  font-family: 'Black Ops One', sans-serif;
}
#hardFig
{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}
/*3eme PARTIE : Liens retour*/
#linkPage/*block bas*/
{
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to top, green, #1ecaca);
}
#replay, #information
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#intro , #main
{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.7s ease-in-out;
}
.fa-solid.fa-rotate, .fa-solid.fa-house
{
  text-decoration: none;
  color: black;
  font-size: 1.9vw;
  transition: 0.5s ease-in-out;
}
#rpl, #info
{
  color: black;
  font-size: 0.8vw;
}
.fa-solid.fa-rotate:hover, .fa-solid.fa-house:hover
{
  transform: rotate(360deg);
  color: #a30000;
}
/*------------------------*/
/*-----|PIED DE PAGE|-----*/
/*------------------------*/
footer
{
  height: 15%;
  background: linear-gradient(to top, white, green);
}
#foot
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
/*PARTIE CONTACT*/
#findMe
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7vw 0;
}
#find
{
  margin:0 0;
  font-size: 1.2vw;
}
#linkFb, #linkLnkd, #linkGit
{
  margin:0 15px 0 15px;
}
#fb, #lkn, #gthb
{
  width: 1.5vw;
  height: 1.5vw;
}
/*PARTIE PRODUCTION*/
#conception
{
  display: flex;
  justify-content: center;
}
#concept
{
  margin: 0 0;
  font-size: 1.2vw;
}
#prod
{
  font-family: 'Black Ops One', sans-serif;
  font-size: 1.5vw;
  font-weight: normal;
  color: white;
}
/*------------------------*/
/*-----| RESPONSIVE |-----*/
/*------------------------*/
@media screen and (max-width: 1300px)
{
  /* Corps de page */
  /*1ere PARTIE */
  .block
  {
    width: 150px;
  }
  .linkFig img 
  {
    width: 25px;
    height: 25px;
  }
  figcaption p 
  {
    font-size: 13px;
  }
}
@media screen and (max-width: 780px)
{
  /* Corps de page */
  /*1ere PARTIE */
  .block
  {
    width: 120px;
  }
  .linkFig img 
  {
    width: 20px;
    height: 20px;
  }
  figcaption p 
  {
    font-size: 10px;
  }
}
@media screen and (max-width: 580px)
{
  /* Corps de page */
  /*1ere PARTIE */
  .block
  {
    width: 90px;
  }
  .linkFig img 
  {
    width: 17px;
    height: 17px;
  }
  figcaption p 
  {
    font-size: 8px;
  }
}
@media screen and (max-width: 580px)
{
  /* Corps de page */
  /*1ere PARTIE */
  .mainTitle
  {
    font-size: 2.3vw;
    text-shadow: 1px 1px 1px #ff0040
  }
  .block
  {
    width: 100px;
  }
  #langFig
  {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  #hardFig
  {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .linkFig img 
  {
    width: 12px;
    height: 12px;
  }
  figcaption p 
  {
    font-size: 12px;
  }
  /*2eme PARTIE*/
  #replay, #information
  {
    height: 100%;
  }
  #replay p, #information p
  {
    font-size: 12px;
  }
  .fa-solid.fa-rotate
  {
    padding: 0.7vw;
    font-size: 2.3vw;
  }
  .fa-solid.fa-house
  {
    height: 2.3vw;
    width: 2.3vw;
    padding: 0.7vw;
    font-size: 2.1vw;
  }
  /*Pied de page*/
  #findMe
  {
    margin: 0.7vw 0 0 0;
  }
  #fb, #lkn, #gthb
  {
    width: 1.7vw;
    height: 1.7vw;
  }
}
@media screen and (max-width: 325px)
{
  /* Corps de page */
  /*1ere PARTIE */
  .block
  {
    width: 50px;
  }
  .linkFig img 
  {
    width: 10px;
    height: 10px;
  }
  figcaption p 
  {
    font-size: 4px;
  }
}