*
{
  margin: 0 0;
  padding: 0 0;
}
body
{
  margin: 0 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/*----------------------------*/
/*-----| ENTETE DE PAGE |-----*/
/*----------------------------*/
header
{
  height: 15%;
  background: linear-gradient(green, #fff);
}
#head
{
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.name
{
  color: white;
  font-family: 'New Tegomin', serif;
  font-weight: bold;
}
.hdrp
{
  margin: 0 0;
  font-size: 3.8vw;
}
#career
{
  font-family: 'Black Ops One', sans-serif;
}
#career p
{
  background-color: white;
  padding: 1px 15px;
  border-radius: 30px;
  color: green;
  text-shadow: 2px 2px 2px #7dcf7d;
}
/*---------------------------*/
/*-----| CORPS DE PAGE |-----*/
/*---------------------------*/
/*GENERALITÉ*/
#middle
{
  height: 70%;
  background: linear-gradient(to bottom, white 1%, aquamarine 50%, white);
}
/*1ère PARTIE : SLIDE*/
#history
{
  display: flex;
  height: 80%;
  background: linear-gradient(to bottom, white 1%, aquamarine 50%, white);
}
#part1
{
  display: flex;
  flex-direction: column;
  flex: 0 22%;
  border: 0.5vw ridge aquamarine;
}
h1
{
  height: 10%;
  text-align: center;
  font-size: 2.1vw;
}
#slider {
  position: relative;
  width: 50%;
  height: 71%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#slide
{
  display: flex;
  width: 100%;
  height: 100%;
}
#precedent,
#suivant 
{
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0;
  position: absolute;
  font-size: 41px;
  color: rgba(220, 220, 220, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0;
}

#precedent 
{
  left: 0;
}

#suivant {
  right: 0;
}

#slider:hover #precedent,
#slider:hover #suivant 
{
  opacity: 1;
}
/*2ème PARTIE : RETOUR DE PAGE*/
#linkPage/*block bas*/
{
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#replay, #information /*Liens de retours pages precedentes*/
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#intro, #main
{
  position: relative;
  border: 1px solid black;
  border-radius: 45px;
  background: green;
  transition: 0.7s ease-in-out;
}
.fa-solid.fa-rotate 
{
  padding: 0.9vw;
  text-decoration: none;
  color: black;
  font-size: 2vw;
  transition: 0.7s ease-in-out;
}
.fa-solid.fa-house
{
  height: 2vw;
  width: 2vw;
  padding: 0.9vw;
  font-size: 1.8vw;
  text-decoration: none;
  color: black;
  transition: 0.7s ease-in-out;
}
#intro:hover, #main:hover
{
  background: red;
}
.fa-solid.fa-rotate:hover, .fa-solid.fa-house:hover
{
  color: white;
  transform: rotate(360deg);
}
#replay p, #information p
{
  margin: 0;
  font-size: 12px;
}
/*------------------------*/
/*-----|PIED DE PAGE|-----*/
/*------------------------*/
/* Généralité */
footer
{
  height: 15%;
  background: linear-gradient(white, green);
}
#foot
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
/*PARTIE CONTACT*/
#findMe
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7vw 0;
}
#find
{
  margin:0 0;
  font-size: 1.2vw;
}
#linkFb, #linkLnkd, #linkGit
{
  margin:0 15px 0 15px;
}
#fb, #lkn, #gthb
{
  width: 1.5vw;
  height: 1.5vw;
}
/*PARTIE PRODUCTION*/
#conception
{
  display: flex;
  justify-content: center;
}
#concept
{
  margin: 0 0;
  font-size: 1.2vw;
}
#prod
{
  font-family: 'Black Ops One', sans-serif;
  font-size: 1.5vw;
  font-weight: normal;
  color: white;
}
@media screen and (max-width: 580px)
{
  h1 
    {
      height: 5%;
      font-size: 1.7vw;
    }
    #slider
    {
      width: 70%;
    }
    #replay p, #information p
    {
      font-size: 9px;
    }
    #fb, #lkn, #gthb
    {
      width: 1.7vw;
      height: 1.7vw;
    }
}
@media screen and (max-width: 325px)
{
  #slider
  {
    width: 95%;
  }
  .fa-solid.fa-rotate
  {
    padding: 0.7vw;
    font-size: 5vw;
  }
  .fa-solid.fa-house
  {
    height: 5.2vw;
    width: 5.2vw;
    padding: 1vw;
    font-size: 5.2vw;
  }
}