/*-----| LOADER |-----*/
/* background */
#animTitle 
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
}
/*-----| INTRO ANIMATION |-----*/
#title
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
#prod /* < A.J. ISSA PRODUCTION > */
{
  position: relative;
  z-index: 1;
  font-size: 8vw;
  font-family: 'Black Ops One', sans-serif;
  animation: 9s wordProd ease-in-out forwards;
  opacity: 0;
  transform: scale(0,0);
}
@keyframes wordProd
{
  0%{
    transform: scale(1,1);
    opacity: 0;
    color: aqua;
  }
  30%{
    opacity: 1;
    color: aqua;
    text-shadow: 3px 3px 7px aqua;
  }
  60%{
    transform: scale(1,1);
    color: black;
    text-shadow: 2px 2px 2px aqua;
  }
  99.9%{
    transform: scale(1,1);
    color: black;
  }
  100%{
    transform: scale(0,0);
    display: none;
  }
} 
#present /* < Présente > */
{
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 5vw;
  animation: 7s wordPresent ease-in-out forwards;
  animation-delay: 1s;
  opacity: 0;
  transform: scale(0,0);
}
@keyframes wordPresent 
{
  0%{
    opacity: 0;
    transform: scale(1,1);
    color: white;
  }
  30%{
    transform: scale(1,1);
    opacity: 1;
    color: white;
  }
  60%{
    transform: scale(1,1);
    opacity: 1;
    color: black;
    text-shadow: 2px 2px 3px white;
  }
  99.9%{
    transform: scale(1,1);
    color: black;
    text-shadow: 2px 2px 5px white;
  }
  100%{
    transform: scale(0,0);
    display: none;
  }
}
/*-----| ANIMATION NOM |-----*/
#me
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#nom
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0,0);
  animation: nm 1s linear 1 both;
  animation-delay: 16s;
}
@keyframes nm 
{
  0%{
    background-color: black;
    transform: scale(1,1);
    opacity: 1;
  }
  99.9%{
    background-color: black;
    transform: scale(1,1);
    opacity: 1;
  }
  100%{
    transform: scale(0,0);
    display: none;
  }
}
.fnm
{
  content: "";
  position: relative;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 5vw; 
  transform: scale(0,0);
  opacity: 0;
}
#n1
{
  animation: name 7s ease-in-out 9s both;
}
#n2
{
  animation: name 7s ease-in-out 9.2s both;
}
#n3
{
  animation: name 7s ease-in-out 9.4s both;
}
#n4
{
  animation: name 7s ease-in-out 9.6s both;
}
#n5
{
  animation: name 7s ease-in-out 9.8s both;
}
@keyframes name
{
  0%{
    transform: scale(1,1);
    opacity: 1;
    left: -1580px;
    top: -350px;
    color: orange;
    text-shadow: 2px 2px 3px red;
  }
  11%{
    transform: scale(1,1);
    color: orangered;
    text-shadow: 2px 2px 3px maroon;
  }
  17%{
    transform: scale(1,1);
    left: 25px;
    top: 15px;
  }
  20%{
    transform: scale(1,1);
    left: 0;
    top: 0;
  }
  22%{
    transform: scale(1,1);
    color: orange;
    text-shadow: 2px 2px 3px red;
  }
  33%{
    transform: scale(1,1);
    color: orangered;
    text-shadow: 2px 2px 3px orange;
  }
  40%{
    transform: scale(1,1);
    color: orange;
    text-shadow: 2px 2px 3px red;
  }
  44%{
    transform: scale(1,1);
    color: orangered;
    text-shadow: 2px 2px 3px orange;
  }
  55%{
    transform: scale(1,1);
    color: orange;
    text-shadow: 2px 2px 3px red;;
  }
  66%{
    transform: scale(1,1);
    color: orangered;
    text-shadow: 2px 2px 3px orange;
  }
  77%{
    transform: scale(1,1);
    color: orange;
    text-shadow: 2px 2px 3px red;
  }
  88%{
    transform: scale(1,1);
    opacity: 1;
    color: orangered;
    text-shadow: 2px 2px 3px orange;
  }
  99.9%{
    transform: scale(0,0);
    opacity: 0;
    color: orange;
    text-shadow: 2px 2px 3px red;
  }
  100%{
    transform: scale(0,0);
    display: none;
  }
}
/*-----| ANIMATION PRENOM |-----*/
#prenom
{
  position: relative;
  transform: scale(0,0);
  opacity: 0;
  animation: pnm 1s linear 1 both;
  animation-delay: 16s;
}
@keyframes pnm 
{
  0%{
    background-color: black;
    transform: scale(1,1);
    opacity: 1;
  }
  99.9%{
    background-color: black;
    transform: scale(1,1);
    opacity: 1;
  }
  100%{
    display: none;
  }
}
.lnm
{
  position: relative;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 5vw;
  transform: scale(0,0);
  opacity: 0;
}
#pn1
{
  animation: pname 7s ease-in-out 9s both;
}
#pn2
{
  animation: pname 7s ease-in-out 9.2s both;
}
#pn3
{
  animation: pname 7s ease-in-out 9.4s both;
}
#pn4
{
  animation: pname 7s ease-in-out 9.6s both;
}
#pn5
{
  animation: pname 7s ease-in-out 9.8s both;
}
#pn6
{
  animation: pname 7s ease-in-out 10s both;
}
@keyframes pname
{
  0%{
    transform: scale(1,1);
    opacity: 1;
    right: -1580px;
    bottom: -250px;
    color: yellow;
    text-shadow: 2px 2px 3px orangered;
  }
  11%{
    transform: scale(1,1);
    color: orangered;
    text-shadow: 3px 3px 5px yellow;
  }
  17%{
    transform: scale(1,1);
    right: 25px;
    bottom: 15px;
  }
  20%{
    transform: scale(1,1);
    right: 0;
    bottom: 0;
  }
  22%{
    transform: scale(1,1);
    color: yellow;
    text-shadow: 2px 2px 3px orangered;
  }
  33%{
    transform: scale(1,1);
    color: orangered;
    text-shadow: 2px 2px 3px yellow;
  }
  40%{
    transform: scale(1,1);
    color: yellow;
    text-shadow: 2px 2px 3px orangered;
  }
  44%{
    transform: scale(1,1);
    color: orangered;
    text-shadow: 2px 2px 3px yellow;
  }
  55%{
    transform: scale(1,1);
    color: yellow;
    text-shadow: 2px 2px 3px orangered;
  }
  66%{
    transform: scale(1,1);
    color: orangered;
    text-shadow: 2px 2px 3px yellow;
  }
  77%{
    transform: scale(1,1);
    color: yellow;
    text-shadow: 2px 2px 3px orangered;
  }
  88%{
    transform: scale(1,1);
    opacity: 1;
    color: orangered;
    text-shadow: 2px 2px 3px yellow;
  }
  99.9%{
    transform: scale(0,0);
    opacity: 0;
    color: yellow;
    text-shadow: 2px 2px 3px orangered;
  }
  100%{
    transform: scale(0,0);
    display: none;
  }
}
/*----- CAREER -----*/
#animCareer
{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0,0);
  opacity: 0;
  animation: timeCareer 1s ease-in forwards;
  animation-delay: 17s;
}
@keyframes timeCareer{
  0%{
    transform: scale(0,0);
  opacity: 0;
  }
  100%{
    transform: scale(1,1);
  opacity: 1;
  }
}
#career, #nameCareer
{
  display: flex;
  margin-top: -50px;
}
.words
{
  margin: 10px 10px;
  display: flex;
  justify-content: center;
  font-size: 9vw;
  text-shadow: 0 0 5px #fff,0 0 10px #fff,0 0 15px #fff,0 0 20px #228dff,0 0 35px #228dff,0 0 40px #228dff;
  font-family: 'Black Ops One', sans-serif;
}
/* .words span
{
  border: 1px solid green;
  animation: letter 2s linear infinite 0.5s;
} */
.words span:nth-child(2)
{
  animation: letter 1.3s linear infinite 1s;
}
/* .words span:nth-child(3)
{
  animation: letter 2s linear infinite 1.5s;
}
.words span:nth-child(4)
{
  animation: letter 2s linear infinite 2s;
}
.words span:nth-child(5)
{
  animation: letter 2s linear infinite 2.5s;
} */
/* .words span:nth-child(6)
{
  animation: letter 2s linear infinite 3s;
} */
.words span:nth-child(5)
{
  animation: letter 1.3s linear infinite 1.5s;
}
/* .words span:nth-child(8)
{
  animation: letter 2s linear infinite 4s;
} */
/* .words span:nth-child(9)
{
  animation: letter 2s linear infinite 4.5s;
} */
/* .words span:nth-child(10)
{
  animation: letter 2s linear infinite 2.5s;
} */
/* .words span:nth-child(11)
{
  animation: letter 3s linear infinite 5.5s;
} */
@keyframes letter {
  0%{
    opacity: 0.45;
  }
  10%{
    opacity: 1;
  }
  20%{
    opacity: 0.63;
  }
  30%{
    opacity: 0.95;
  }
  40%{
    opacity: 0.79;
  }
  50%{
    opacity: 0.97;
  }
  60%{
    opacity: 0;
  }
  70%{
    opacity: 0.63;
  }
  80%{
    opacity: 0.95;
  }
  90%{
    opacity: 0.79;
  }
  100%{
    opacity: 1;
  }
  
}
#link
{
  width: 65%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transform: scale(0,0);
  opacity: 0;
  animation: linked 1s ease-in-out 1 forwards;
  animation-delay: 19s;
}
@keyframes linked 
{
  0%{
    transform: scale(0,0);
    opacity: 0;
  }
  100%{
    transform: scale(1,1);
    opacity: 1;
  }

  
}
.button
{
  width: 100%;
  margin: 5px;
}
a
{
  font-size: 1vw;
  border: 3px solid aqua;
  border-radius: 15px;
  margin: 15px;
  text-decoration: none;
  background: black;
  transition: 0.5s;
  
}
a:link
{
  color: aqua;
}
a:visited
{
  color: aqua;
}
a:hover
{
  background-color: aquamarine;
  border: 3px solid white;
  box-shadow: 3px 3px 1px white, 6px 6px 6px aqua, 6px 6px 12px aqua, 6px 6px 24px #00dfdf;
  color: black;
  /* background: linear-gradient(to bottom, #6161ff 1%, #e4e4fd 50%, #6161ff); */
}
/*--------------------*/
/*-----RESPONSIVE-----*/
/*--------------------*/
@media screen and (max-width: 1000px)
{
  #career, #nameCareer
  {
    margin-top: -30px;
  }
}
