body
{
  margin: 0 auto;
}
/* ===== ANIMATION ===== */
/* _____ Anim background ______ */
#animTitle, body
{
  animation: 1s backGrd 1 ease-out both;
  animation-delay: 58.5s;
  overflow: hidden;
}
@keyframes backGrd {
  0%{
    background-color: black;
  }
  100%{
    background-color: white;
  }
}
/* _____ Anim Production _____ */
#prod
{
  display: flex;
  justify-content: center;
  width: 75%;
  margin: auto;
  margin-top: 20%;
  font-size: 0px;
  position: relative;
  animation: 7.5s wordProd 1 ease-in-out both;
}
@keyframes wordProd
{
  0%{
    font-size: 0px;
    color: black;
  }
  20%{
    font-size: 125px;
    color: yellow;
    text-shadow: 5px 5px 1px red;
  }
  50%{
    font-size: 125px;
    color: black;
    text-shadow: 2px 2px 5px aqua;
  }
  99.9%{
    font-size: 125px;
    color: black;
  }
  100%{
    display: none;
  }
}
#present
{
  display: flex;
  justify-content: center;
  width: 75%;
  margin: auto;
  font-size: 0px;
  position: relative;
  animation: 5.5s wordPresent 1 ease-in-out both;
  animation-delay: 2s;
}
@keyframes wordPresent 
{
  0%{
    font-size: 0px;
    color: black;
  }
  20%{
    font-size: 55px;
    color: white;
  }
  99.9%{
    font-size: 55px;
    color: black;
  }
  100%{
    display: none;
  }
}


/* ===== SCROLL TEXTE ===== */
.fade {
  position: relative;
  width: 100%;
  min-height: 30vh;
  top: -160px;
  /* background-image: linear-gradient(0deg, transparent, black 75%); */
  /* z-index: 1; */
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  /* font-family: 'Kaushan Script', sans-serif; */
  font-size: 664%;
  font-weight: 600;
  letter-spacing: 3px;
  
  line-height: 150%;
  perspective: 390px;
  text-align: justify;
}
.crawl {
  position: relative;
  top: 99999px;
  transform-origin: 50% 100%;
  animation: crawl 50s linear;
  animation-delay: 7.8s;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
  0% {
    top: -250px;
    transform: rotateX(20deg)  translateZ(0);
    opacity: 1;
  }
  99.8% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
    opacity: 1;
    
  }
  99.9%{
    opacity: 0;
  }
  100%
  {
    display: none;
  }
}
/* ===== RESPONSIVE wordPro & wordPresent ===== */
@media screen and (max-width: 1259px)
{
  @keyframes wordProd {
    0%{
      font-size: 0px;
      color: black;
    }
    20%{
      font-size: 90px;
      color: aqua;
    }
    50%{
      font-size: 90px;
      color: black;
      text-shadow: 2px 2px 5px aqua;
    }
    99.9%{
      font-size: 90px;
      color: black;
    }
    100%{
      display: none;
    }
  }
}
@keyframes wordPresent 
{
  0%{
    font-size: 0px;
    color: black;
  }
  20%{
    font-size: 45px;
    color: white;
  }
  99.9%{
    font-size: 45px;
    color: black;
  }
  100%{
    display: none;
  }
}
.star-wars
{
  font-size: 337%;
}
@media screen and (max-width: 915px)
{
  @keyframes wordProd {
    0%{
      font-size: 0px;
      color: black;
    }
    20%{
      font-size: 70px;
      color: aqua;
    }
    50%{
      font-size: 70px;
      color: black;
      text-shadow: 2px 2px 5px aqua;
    }
    99.9%{
      font-size: 70px;
      color: black;
    }
    100%{
      display: none;
    }
  }
}
@keyframes wordPresent 
{
  0%{
    font-size: 0px;
    color: black;
  }
  20%{
    font-size: 35px;
    color: white;
  }
  99.9%{
    font-size: 35px;
    color: black;
  }
  100%{
    display: none;
  }
}
.star-wars
{
  font-size: 239%;
}
@media screen and (max-width: 700px)
{
  @keyframes wordProd {
    0%{
      font-size: 0px;
      color: black;
    }
    20%{
      font-size: 40px;
      color: aqua;
    }
    50%{
      font-size: 40px;
      color: black;
      text-shadow: 2px 2px 5px aqua;
    }
    99.9%{
      font-size: 40px;
      color: black;
    }
    100%{
      display: none;
    }
  }
}
@keyframes wordPresent 
{
  0%{
    font-size: 0px;
    color: black;
  }
  20%{
    font-size: 20px;
    color: white;
  }
  99.9%{
    font-size: 20px;
    color: black;
  }
  100%{
    display: none;
  }
}
.star-wars
{
  font-size: 174%;
}
@media screen and (max-width: 400px)
{
  @keyframes wordProd {
    0%{
      font-size: 0px;
      color: black;
    }
    20%{
      font-size: 25px;
      color: aqua;
    }
    50%{
      font-size: 25px;
      color: black;
      text-shadow: 2px 2px 5px aqua;
    }
    99.9%{
      font-size: 25px;
      color: black;
    }
    100%{
      display: none;
    }
  }
}
@keyframes wordPresent 
{
  0%{
    font-size: 0px;
    color: black;
  }
  20%{
    font-size: 20px;
    color: white;
  }
  99.9%{
    font-size: 20px;
    color: black;
  }
  100%{
    display: none;
  }
}
.star-wars
{
  font-size: 80%;
}